/frontend/.js linguist-language=JavaScript
/frontend/.jsx linguist-language=JavaScript
/frontend/.ts linguist-language=TypeScript
/frontend/.tsx linguist-language=TypeScript
*.py linguist-language=Python
*.ipynb linguist-language=Jupyter
