# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environments
.env/
venv/

dataset/

# Ignore Node.js dependencies
/home/punky/ml/tf_gpu/Frontend/node_modules/

# Ignore any log files
*.log

# Ignore the Frontend directory
/home/punky/ml/tf_gpu/Frontend
